input {
	    padding: 10px;
    background: none;
    border: none;
    border-bottom: 1px solid gray;
    width: 90%
}

.form button {
	padding: 1.1em 1.6em;
  display: inline-block;
  text-decoration: none;
  color: white;
  border:none;
  background-color: #34495e;
  transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-20deg) skewY(0deg);
}

.form input:focus {
	border: none;
}

.form button:hover {
	background-color:#e67e22;
	cursor: pointer;
}