 .container {
        background-image:url('http://mamigroup.co.id/images/metal/bg.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 100%;
      min-height: 100%; 
      background-position: 0px 0px;
    }

    html, body {
          height: 100%;
          margin: 0;
      }

      .bottombg {
          background-image:url('http://mamigroup.co.id/images/metal/bottombg.jpg');  
          width: 100%;
          position: fixed;
          bottom: 0;
          height: 65px;
      }

      .bar {
        background-image:url('http://mamigroup.co.id/images/metal/bar.jpg');  
        width: 100%;
        height: 50px;
      }

      .bar h1 {
        font-family: 'Playfair Display SC', serif;
        margin:0px;
        padding:0px;
        font-size: 18pt;
        position: absolute;
        left:30%;
        padding-top:5px;
        color: #ecf0f1;
        font-weight: 100;
      }

    .contentbg {
      background-image:url('http://mamigroup.co.id/images/metal/contentbg.png');
      background-repeat: no repeat;
      background-size: 100% 100%;
      width: 50%;
      height: 70%;
      position: absolute;
      top:15%;
      right: 25%;
    }

    .ribbon {
      width: 200px;
      background-image:url('http://mamigroup.co.id/images/metal/ribbon.png');
      background-repeat: no repeat;
      background-size: 100% 100%;
      width: 200px;
      height: 400px;
      position: absolute;
      top:0%;
      left: 10%;
    }

    .ribbon ul li {
      color:white;
      font-family: 'Quicksand', sans-serif;
      padding-top:10px;
      padding-bottom:10px;
      list-style: none;
      text-align: center;
    }

    .ribbon ul li a {
      text-decoration: none;
      color:white;
    }
    .ribbon ul li a:hover {
      text-decoration: none;
      color:white;
    }
    .ribbon ul {
      padding:0px;
    }

    .link {
      outline: none;
      text-decoration: none;
      position: relative;
      line-height: 1;
      color: #9e9ba4;
      display: inline-block;
    }
    .link--kukuri {
      font-weight: 900;
      overflow: hidden;
      line-height: 0.75;
      color: #b2b0a9;
    }

    .link--kukuri:hover {
      color: #b2b0a9;
    }

    .link--kukuri::after {
      content: '';
      position: absolute;gi
      height: 16px;
      width: 100%;
      top: 50%;
      margin-top: -8px;
      right: 0;
      background: #F9F9F9;
      transform: translate3d(-100%,0,0);
      transition: transform 0.4s;
      transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }

    .link--kukuri:hover::after {
      transform: translate3d(100%,0,0);
    }

    .link--kukuri::before {
      content: attr(data-letters);
      position: absolute;
      z-index: 2;
      overflow: hidden;
      color: #f1c40f;
      white-space: nowrap;
      width: 0%;
      transition: width 0.4s 0.3s;
    }

    .link--kukuri:hover::before {
      width: 100%;
    }

    .contentbg h2  {
      position: relative;
      display: inline-block;
      font-size: 24px;
      height: 1em;
      padding-bottom: .5em;
      overflow: hidden;
      color:#2c3e50;
    }
    .contentbg h2:after {
      position: absolute;
      content: attr(data-content);
      width: 100%;
      height: 1em;
      top: 2px;
      left: 0px;
      transform: scaleY(-1);
      transform-origin: bottom;
      opacity: 0.3;
    }

    .inside p {
      padding-top: 0px;
      margin-top:0px;
      overflow: auto;
      font-size: 11pt;
      max-height: 200px;
      font-family: 'Quicksand', sans-serif;
    }

   

    .contentbg .inside {
      margin-left:20%;
      margin-right: 20%;
    }

    .inside h3 {
      text-align: center;
      font-family: 'Quicksand', sans-serif;
    }

    .lang {
      position: absolute;
      right:20%;
      top:15px;
    }

    .selected {
      color: #F9F9F9 !important ;
    }

    .text-reflect {
    position: relative;
    width: 200px;
    left:5%;
}
.text-reflect:before, .text-reflect:after {
    display: block;
    position: absolute;
    bottom: -.8em; /* You should change this value to fit your font */
    left: 0;
    right: 0;
}
.text-reflect:before {
    content: attr(data-text);
    opacity: .3;

    /* This is how the text is flipped vertically */
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
}
.text-reflect:after {
    /* Fading using CSS gradient */
    /* Don't forget to change the colors to your background color */
    background: -webkit-gradient(linear, left top, left center, from(rgba(255,255,255,0)), to(rgb(208, 211, 216)));
    background: -moz-linear-gradient(top, rgba(255,255,255,0), rgb(208, 211, 216));
    background: linear-gradient(top, rgba(255,255,255,0), rgb(208, 211, 216));

    /* I left out the `filter` property, because IE doesn't know `:before` and `:after` pseudo-elements anyway */
    content: ' ';
    height: 1em;
}

.topnav {
    background-color: #2c3e50;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: 'Quicksand', sans-serif;
    float: left;
    display: block;
    color: #ecf0f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #f1c40f;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #2c3e50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* DATE in NEWS */
.news {
  margin-bottom: 10px;
}
.datecontainer {
  display: inline-block;
  width: 10%;
  margin-right: 5px;
  font-family: 'Quicksand', sans-serif;
}

.datecontainer .month {
  font-weight: bold;
    color: gray;
}

.datecontainer .date {
      font-size: 19pt;
    color: black;
}

.newsitem {
   display: inline-block;
  width: 85%;
      vertical-align: top;
  font-family: 'Quicksand', sans-serif;
}

a.glow, a.glow:hover, a.glow:focus
{
  text-decoration: none;
  color: #aaf;
  text-shadow: none;
  -webkit-transition: 500ms linear 0s;
  -moz-transition: 500ms linear 0s;
  -o-transition: 500ms linear 0s;
  transition: 500ms linear 0s;
  outline: 0 none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav { display: block; }

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .ribbon { display: none; }
  .contentbg {     
      width: 100%;
      height: 70%;
      position: absolute;
      top:20%;
      right: 0%;
    }

    .inside p {
      overflow: auto;
      max-height: 180px;
    }
    .inside p {
      font-size: 10pt;
    }

    .bar h1 {
        padding-top: 12px;
        font-size: 12pt;
        left:5%;
      }

    .lang {     
      right:5%;
    }

    .newsitem {       
       font-size: 10pt;
    }

}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  .contentbg {     
      width: 70%;
      top:20%;
      right: 5%;
    }

    .inside p {
      overflow: auto;
      max-height: 180px;
    }
    .inside p {
      font-size: 10pt;
    }


    .ribbon {
      width: 180px;
      background-image:url('http://mamigroup.co.id/images/metal/ribbon.png');
      background-repeat: no repeat;
      background-size: 100% 100%;
      top:0%;
      left: 5%;
    }
}

@media all and (min-width: 601px) {
  .topnav { display: none; }
}